<launch>
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <rosparam file="$(find cirkit_unit03_gazebo)/config/cirkit_unit03_hardware_gazebo.yaml" command="load"/>
  <rosparam file="$(find cirkit_unit03_gazebo)/config/pids.yaml" command="load"/>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model cirkit_unit03 -param robot_description"/>

</launch>
