<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find third_robot_gazebo)/config/third_robot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="/third_robot"
      args="joint_state_controller"/>
  <!--
      args="joint_state_controller
                                                left_front_wheel_position_controller
                                                right_front_wheel_position_controller
                                                left_rear_wheel_position_controller
                                                right_rear_wheel_position_controller"/>
  -->
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/third_robot/joint_states" />
  </node>

</launch>
